.section-noticias {
	font-size: 0;

	.section-title{
		color:#858686;
	}

	.date{
		@extend .font-serrat-bold;
		color:#3199CE;
		text-align:left;
		font-size:13px;
	}

	.title-1{
		max-width:200px;
		margin:0 auto;
	}



	.item-wrapper {
		text-align:left;
		font-size:14px;
		display: inline-block;
		width: 25%;
		border-radius: 5px;
		box-sizing: border-box;
		margin:0 0 28px 0;

		@media (max-width: $screen-sm-max) {
			width:50%;
		}

		@media (max-width: $screen-sm-min) {
			width:100%;
		}

		img {
			@extend .center-h;
			height: auto;
		}
	}

	.item {
		padding:25px;
		box-sizing: border-box;
		border: 1px solid #EAEBEC;
		border-radius:8px;
		margin: 0 5%;
		min-height: 182px;
		background:#fff;
		color:#000;
	}

}