.section-quem-somos {
    background-image: url("../images/bkg.png");

    //height: 716px;
    position: relative;
    color: #355297;
    font-size: 15px;

    .title-1{
        text-align:left;
    }

    .title{
        text-align:left;
    }

    .section-title {
        text-align: right;
        margin-right: 35px;
        @media (max-width: $screen-sm) {
            text-align:center;
            margin-right:0;
        }
    }

    .column-subtitle {
        margin-bottom: 30px;
    }

    p {
        line-height: 23px;
    }

    .column {
        box-sizing: border-box;
        display: inline-block;
        width: 60%;
        font-size: 15px;
        vertical-align: bottom;

        @media (max-width: $screen-sm) {
            width: 100% !important;
            padding: 0 0 !important;
        }

        @media (max-width: $screen-sm) {
            .bubble-1 {
                left: -62px;
            }
        }
    }

    .column-1 {
        @extend .column;
        width: 60%;
        padding: 0 9% 0 11%;
        @media (max-width: $screen-md) {
            margin-bottom:20px;
        }

        .column-header {
            padding-left: 45px;
            @media (max-width: $screen-sm) {
                padding-left: 110px;
            }
        }
    }

    .column-2 {
        @extend .column;
        width: 40%;
        //padding:0 60px 0 90px;
        padding: 0 3% 0 8%;
    }

    .block-ch-lh-o {
        font-size: 0;
        background: url("../images/connected-dots.png") no-repeat 62% -85px;
        @media (max-width: $screen-sm) {
            background: none;
        }
    }


}