.section-associese{
	padding-top:200px;
	.intro-text{
		max-width:940px;
		margin:0 auto;
		text-align:center;
		color:#355297;
		font-size:15px;
		margin-bottom:60px;
	}

	.title-2{
		margin-bottom:20px;
	}

	.abh2-form{
		max-width:100%
	}

	.max-width-forms{
		max-width:644px;
	}

	.infos{
		margin-bottom:45px;
	}
}